*{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    text-align: center;
    margin-top: 30px;
}

.tool{
    height: 500px;
    width: 500px;
    margin: auto;
    background-color: rgb(207, 208, 209);
    padding: 20px 0px;
}

#colour_display{
    height: 150px;
    width: 300px;
    margin: auto;
    border: 20px 0px;
    display: block;
}

.colour_slider_container{
    width: auto;
    height: 30px;
    margin: 0px auto 0px;
}

#slider{
    width: 350px;
    margin: 10px auto;
    display: block;
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 255, 255), rgb(0, 0, 255), rgb(255, 0, 255), rgb(255, 0, 0));
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 10px;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-image: url("./images/white_circle.png");
    height: 20px;
    width: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#colour_info{
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px;
    width: 200px;
}

#colour_preview{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: rgb(0, 128, 128);
    margin-right: 50px;
    vertical-align: middle;
}

#copy{
    display: block;
    margin: 5px 20px;
}