*{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    text-align: center;
    margin-top: 30px;
}

.tool{
    height: 400px;
    width: 500px;
    margin: auto;
    background-color: rgb(207, 208, 209);
}

.colour_display{
    height: 150px;
    width: 270px;
    background-color: blue;
    margin: auto;
    border: 20px 0px;
}

.colour_slider_container{
    width: auto;
    height: 50px;
    margin: 20px auto;
    background-color: rgb(132, 132, 132);
}

#slider{
    width: 350px;
    margin: auto;
    display: block;
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 255, 255), rgb(0, 0, 255), rgb(255, 0, 255), rgb(255, 0, 0));
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 10px;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-image: url("./images/white_circle.png");
    height: 20px;
    width: 20px;
    border-radius: 10px;
    cursor: pointer;
}