*{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    text-align: center;
    margin-top: 30px;
}

.tool{
    height: 420px;
    width: 495px;
    margin: auto;
    background-color: rgb(207, 208, 209);
    padding: 20px 0px;
    border-radius: 5px;
}

#top_panel{
    display: inline-block;
    width: 500px;
}

#colour_display{
    height: 250px;
    width: 400px;
    margin-left: 20px;
    display: inline-block;
    border-radius: 5px;
}

.colour_slider_container{
    width: auto;
    width: 30px;
    height: 250px;
    margin: 0px auto 0px;
    display: inline-block;
    vertical-align: top;
}

#slider{
    width: 250px;
    display: block;
    padding: 8px 0px;
    margin: 0px;
    position: relative;
    top: 111.5px;
    right: 95px;
    transform: rotate(270deg);
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 255, 255), rgb(0, 0, 255), rgb(255, 0, 255), rgb(255, 0, 0));
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 5px;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-image: url("./images/white_square.png");
    height: 30px;
    width: 10px;
    cursor: pointer;
}

#colour_info{
    display: inline-block;
    vertical-align: middle;
    margin: 0px 20px;
    width: 181px;
}

#colour_preview{
    width: 190px;
    height: 50px;
    display: inline-block;
    background-color: rgb(64, 128, 128);
    margin-right: 50px;
    vertical-align: middle;
    border-radius: 5px;
    border: none;
}

#colour_preview:hover{
    background-image: url("./images/copy_logo.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;    
    opacity: 0.5;
}

.colour_spectrum{
    width: 450px;
    height: 50px;
    display: inline-block;
    margin: 20px 20px;
    font-size: 0px;
    border-radius: 5px;
    overflow: hidden;
}

.colour_spectrum .shade_palette{
    background-color: aqua;
    width: 50px;
    height: 50px;
    display: inline-block;
}